@model MyEvernote.Entities.ValueObjects.LoginViewModel

@{
    ViewBag.Title = "MyEvernote - Giriş Sayfası";
}

<link href="~/Content/login-register.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4 col-sm-offset-4">
                <form class="form-horizontal" action='' method="POST">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Giriş Formu</legend>
                        </div>
                        <div class="control-group">
                            @Html.ValidationSummary(false);
                            <!-- Username -->
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı adınız" })
                            </div>
                        </div>
                        <br />
                        <div class="control-group">
                            <!-- Password-->
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })
                            </div>
                        </div>
                        <br />
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button type="submit" class="btn btn-success">Giriş</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

}


<script>
    $(function () {
        $("footer").parent().hide();
    });
</script>
